<style>
    @import 'https://fonts.googleapis.com/css?family=Merriweather:300|Open+Sans:700|Source+Code+Pro';
    div.cell{
        width: 85%;
        margin-left:auto;
        margin-right:auto;
    }
    ul {
        line-height: 130%;
    }
    li {
        margin-bottom: 0.5em;
    }
    h1, h2, h3, h4, h5 {
        font-family: 'Open Sans', sans-serif;
    }

    div.text_cell_render{
        font-family: 'Merriweather', serif;
        font-weight: 300;
        line-height: 175%;
        font-size: 1.2em;
        letter-spacing: 0.3pt;
        width: 100%;
        margin-left:auto;
        margin-right:auto;
    }
    div.input_area{
        font-family: 'Source Code Pro', 'Consolas', monospace;
        font-size: 12pt;
    }
    .CodeMirror{
        font-family: 'Source Code Pro', 'Consolas', monospace;
        font-size: 12pt;
    }
    .warning{
        color: rgb( 240, 20, 20 )
        }
</style>
