<style>
    @import 'https://fonts.googleapis.com/css?family=Merriweather:300|Open+Sans:700';
    div.cell{
        width: 85%;
        margin-left:auto;
        margin-right:auto;
    }
    ul {
        line-height: 130%;
    }
    li {
        margin-bottom: 0.5em;
    }
    h1 {
        font-family: 'Open Sans', sans-serif;
    }
    h2 {
        font-family: 'Open Sans', sans-serif;
    }
    h3 {
        font-family: 'Open Sans', sans-serif;
    }   
    h4 {
        font-family: 'Open Sans', sans-serif;
    }   

    div.text_cell_render{
        font-family: 'Merriweather', serif;
        font-weight: 300;
        line-height: 160%;
        font-size: 1.2em;
        /*letter-spacing: 0.02em;*/
        width: 100%;
        margin-left:auto;
        margin-right:auto;
    }
    .CodeMirror{
            font-family: Consolas, monospace;
            font-size: 120%;
    }
    .text_cell_render h5 {
        font-weight: 300;
        font-size: 16pt;
        color: #4057A1;
        font-style: italic;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        display: block;
    }

    .warning{
        color: rgb( 240, 20, 20 )
        }
</style>
